appdirs==1.4.4
cefpython3==66.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
distlib==0.3.1
filelock==3.0.12
idna==2.10
importlib-metadata==3.4.0
requests==2.25.1
selenium==3.141.0
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.2
virtualenv==20.3.1
webdriver-manager==3.2.2
zipp==3.4.0
